.container
  %h2 Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email, class: 'text'
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'text_box'
    .field
      = f.label :password, class: 'text'
      %br/
      = f.password_field :password, autocomplete: "current-password", class: 'text_box'
    - if devise_mapping.rememberable?
      .field
    .actions
      = f.submit "submit", class: 'btn-primary', class: 'submit'
